<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cronus" version="3.0.5" targetFramework="net461" />
  <package id="Cronus.DomainModeling" version="3.3.0" targetFramework="net461" />
  <package id="FakeItEasy" version="3.1.0" targetFramework="net461" />
  <package id="LibLog" version="4.2.6" targetFramework="net461" developmentDependency="true" />
  <package id="Machine.Fakes" version="2.8.0" targetFramework="net461" />
  <package id="Machine.Fakes.FakeItEasy" version="2.8.0" targetFramework="net461" />
  <package id="Machine.Specifications" version="1.0.0" targetFramework="net461" />
  <package id="Machine.Specifications.Should" version="0.11.0" targetFramework="net461" />
  <package id="Multithreading.Scheduler" version="1.1.2" targetFramework="net461" />
</packages>